/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
  padding: 0 10px;
}

.row {
  @include column;
  @include display;
  padding: 1em 10px;
}

[class^=col] {
  @include basis;
  @include radius;
  @include pad;
  margin-top: 10px;
  min-height: 25px;
}

@each $theme, $color in $themes {
  .theme#{$theme} {
    background-color: $color;
  }
}

.card {
  @include basis;
}
