/* ============================================= */
/*              Base styles                      */
/* ============================================= */
* {
  @include box;
  font-family: 'Lato', sans-serif;
  color: $color-text;
}

p {
  line-height: 1.45em;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
}

.inner-wrapper {
  flex: 1;
  margin: 5px;
}

img {
  width: 24.7%;
}

img {
  padding-left: 62px;
  padding-bottom: 62px;
}
/* ============================================= */
/*              Search Bar                   */
/* ============================================= */
#searchbar {
  margin-left: 29.3%;
  padding: 1.5%;
  border-radius: 3.2%;
}

input[type=text] {
  width: 45%;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}
/* When the input field gets focus,
        change its width to 100% */
input[type=text]:focus {
  width: 80%;
}

#list {
  font-size: 1.5em;
  margin-left: 90px;
}

.search {
  display: list-item;
}

.inner-wrapper {
  margin-top: 2.5%;
}
